<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ title }} | Marlan</title>
  <meta name="description" content="Marlan is a simple tool for quickly creating relationships between text and media files, storing them on Dropbox, and providing read/write web access with an attractive template.
  ">
  <meta name="author" content="Eric Danielson (danielsoneg@gmail.com) &amp; Harlan Lewis (harlan@harlanlewis.com)">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">

  <link rel="stylesheet" href="/static/stylesheets/compiled/screen.css">

  <!-- Modernizer JS lives in the head -->
  <script src="/static/javascripts/libs/modernizr-1.6.min.js"></script>

</head>

<body id="page_landing">

  <article>
    <header id="header_primary">
      <hgroup>
        <h1>{{ title }}</h1>
        <h2 class='header_content' contenteditable='true'></h2>
      </hgroup>
      <div class="pubdate">Last updated <time datetime="2011-02-09">Apr 20, 2011</time>.</div>
      <nav class="breadcrumbs">
        <ol>
          <li><a href='/' title="Public">Public</a></li>
          {% for path in paths %}
          <li><a href="{{ path }}" title="{{ path }}">{{ path[path.rfind('/')+1:] }}</a></li>
          {% end %}
          <li>{{title}}</li>
        </ol>
      </nav>
      <div class="background"></div>
    </header>
    
    <section class="text_content" contenteditable='true'>
    </section>
    <section class="media_content">
      <ul>
        {% for image in flist['images'] %}
        <li><img src='http://dl.dropbox.com/u/102389{{ image.replace('/Public','') }}'></li>
        {% end %}
        {% if len(flist['images']) == 0 %}
        <li>No Media Present</li>
        {% end %}
      </ul>
    </section>

  </article>

  <!-- Javascripts live at the end -->
  <script src="/static/javascripts/libs/jquery.1.4.2.min.js"></script>
  <script src="/static/javascripts/libs/jquery.runOnScope.js"></script>
  <script src="/static/javascripts/jquery.application.js"></script>

</body>
</html>