@font-face {
  font-family: "AllerRegular";
  src: url("../fonts/aller/aller_rg-webfont.eot");
  src: url("../fonts/aller/aller_rg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller/aller_rg-webfont.woff") format("woff"), url("../fonts/aller/aller_rg-webfont.ttf") format("truetype"), url("../fonts/aller/aller_rg-webfont.svg#AllerRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AllerBold";
  src: url("../fonts/aller/aller_bd-webfont.eot");
  src: url("../fonts/aller/aller_bd-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller/aller_bd-webfont.woff") format("woff"), url("../fonts/aller/aller_bd-webfont.ttf") format("truetype"), url("../fonts/aller/aller_bd-webfont.svg#AllerBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AllerBoldItalic";
  src: url("../fonts/aller/aller_bdit-webfont.eot");
  src: url("../fonts/aller/aller_bdit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller/aller_bdit-webfont.woff") format("woff"), url("../fonts/aller/aller_bdit-webfont.ttf") format("truetype"), url("../fonts/aller/aller_bdit-webfont.svg#AllerBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AllerItalic";
  src: url("../fonts/aller/aller_it-webfont.eot");
  src: url("../fonts/aller/aller_it-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller/aller_it-webfont.woff") format("woff"), url("../fonts/aller/aller_it-webfont.ttf") format("truetype"), url("../fonts/aller/aller_it-webfont.svg#AllerItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-size: 75%;
  font: 13px/1.231 "Calibri", "Lucida Grande", sans-serif;
  *font-size: small; }

a {
  text-decoration: underline; }
  a:link {
    color: #0066cc; }
  a:visited {
    color: purple; }
  a:hover, a:focus {
    color: orange; }
  a:active {
    color: red; }

h1, h2, h3, h4, h5, h6, dt, legend {
  font-weight: bold;
  font-size: 1em;
  margin: 0;
  padding: 0;
  line-height: 1.25; }

h1 {
  font-size: 3em;
  font-family: "AllerBold", "Calibri", "Lucida Grande", sans-serif;
  line-height: 1; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4, legend {
  font-size: 1.2em; }

p {
  margin: 0 0 1.5em 0; }

blockquote {
  margin: 1.5em;
  font-style: italic; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

sup, sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  _vertical-align: bottom;
  position: relative; }

abbr {
  border-bottom: 1px dotted #666666; }
  abbr[title='and'] {
    border: 0;
    text-decoration: none;
    font-family: Baskerville, Palatino, Constantia, "Book Antiqua", "URW Palladio L", serif;
    font-style: italic;
    font-weight: normal; }

address {
  margin: 0 0 1.5em;
  font-style: italic; }

pre {
  margin: 1.5em 0;
  white-space: pre;
  font: 1em "andale mono", "lucida console", monospace, sans-serif;
  line-height: 1.2; }

code, kbd, samp, tt {
  font: 1em "andale mono", "lucida console", monospace, sans-serif;
  line-height: 1.2; }

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

ul, ol {
  margin: 0 1.5em 1.5em 1.5em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

nav ul, nav li {
  margin: 0;
  padding: 0;
  list-style: none; }

dl, dd {
  margin: 0 0 1.5em 0; }

table {
  margin-bottom: 1.4em;
  width: 100%; }

th {
  font-weight: bold; }

thead th {
  background: #c3d9ff; }

th, td, caption {
  padding: 4px 10px 4px 5px; }

tr.even td {
  background: #e5ecf9; }

tfoot {
  font-style: italic; }

caption {
  background: #eeeeee; }

select, input, textarea, button {
  font: 99% sans-serif; }

label {
  font-weight: bold;
  font-style: normal; }

fieldset {
  padding: 1.4em 1em;
  margin: 0 0 1.5em 0;
  border: 0; }

select, input, textarea, button {
  font-size: 99%;
  font-family: sans-serif;
  margin: 0.5em 0; }

input {
  padding: 5px; }
  input:focus {
    background-color: #fffea6; }

textarea {
  padding: 5px;
  overflow: auto; }

input[type="radio"] {
  vertical-align: text-bottom; }

.input [type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-button {
  display: none; }

::-webkit-scrollbar-track-piece {
  background: #555555;
  -webkit-box-shadow: inset 0 1px 5px black, inset 0 0 2px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb {
  position: relative;
  height: 0px;
  background: #0088dd;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.3), 0 0 3px black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: #dddddd; }

body {
  background: white;
  color: #222222;
  box-shadow: inset rgba(0, 0, 0, 0.4) 0 0 20px; }

a {
  text-decoration: none;
  font-weight: bold; }
  a:link, a:visited {
    color: #0f6def; }
  a:hover, a:focus {
    color: #0066ff;
    text-decoration: underline;
    text-shadow: rgba(255, 255, 255, 0.5) 0 0 5px; }
  a:active {
    color: #e55117; }

h1, h2, h3, h4, h5, h6, dt, legend {
  color: #181818; }

article {
  zoom: 1; }
  article:before, article:after {
    content: "";
    display: block;
    overflow: hidden; }
  article:after {
    clear: both; }

#header_primary {
  position: relative;
  padding: 8em 0 3em;
  text-shadow: rgba(255, 255, 255, 0.3) 0 1px 10px, rgba(255, 255, 255, 0.3) 1px 2px;
  background: -webkit-radial-gradient(22% 70%, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.2));
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 25px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  #header_primary > * {
    position: relative;
    z-index: 5; }
  #header_primary .background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: block;
    content: ".";
    text-indent: -9999em; }
  #header_primary hgroup {
    zoom: 1;
    margin-left: 8.333%;
    margin-right: 8.333%; }
    #header_primary hgroup:before, #header_primary hgroup:after {
      content: "";
      display: block;
      overflow: hidden; }
    #header_primary hgroup:after {
      clear: both; }
  #header_primary h1, #header_primary h2 {
    clear: both;
    float: left;
    width: 75%; }
  #header_primary h1 {
    line-height: 1;
    padding-bottom: 0.2em;
    position: relative;
    font-size: 3em;
    font-weight: normal;
    font-color: #181818; }
  #header_primary h2 {
    line-height: 1.2;
    font-size: 1.45em;
    white-space: pre-wrap;
    color: #2c2c2c; }
  #header_primary .breadcrumbs {
    margin-left: 8.333%;
    margin-right: 8.333%;
    text-shadow: none;
    float: right;
    right: 0;
    position: absolute;
    top: 5px;
    font-size: 0.9em;
    padding: 0 0.7em;
    -moz-opacity: 0.6;
    opacity: 0.6;
    zoom: 1;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(255, 255, 255, 0.1); }
    #header_primary .breadcrumbs ol, #header_primary .breadcrumbs ul, #header_primary .breadcrumbs li {
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative; }
    #header_primary .breadcrumbs li {
      display: inline-block;
      font-weight: bold;
      position: relative;
      padding: 0.4em 0; }
      #header_primary .breadcrumbs li a {
        display: inline-block; }
      #header_primary .breadcrumbs li:after {
        content: ">";
        display: inline-block;
        padding: 0 0.3em;
        color: rgba(0, 0, 0, 0.4); }
      #header_primary .breadcrumbs li.children li:after, #header_primary .breadcrumbs li:last-child:after {
        display: none; }
      #header_primary .breadcrumbs li.children li {
        display: block; }
      #header_primary .breadcrumbs li.view_children {
        margin: 0;
        padding: 0;
        position: relative;
        zoom: 1;
        border: 0; }
        #header_primary .breadcrumbs li.view_children ul {
          position: absolute;
          left: 0.5em;
          top: 0.7em;
          -moz-border-radius: 6px;
          -webkit-border-radius: 6px;
          border-radius: 6px;
          -moz-background-clip: padding-box;
          -webkit-background-clip: padding-box;
          background-clip: padding-box; }
        #header_primary .breadcrumbs li.view_children li {
          padding-top: 0; }
          #header_primary .breadcrumbs li.view_children li:before {
            position: absolute;
            left: -2em;
            content: ">";
            display: inline-block;
            color: rgba(0, 0, 0, 0.4); }
    #header_primary .breadcrumbs input {
      margin: 0;
      padding: 0;
      position: relative;
      zoom: 1;
      border: 0;
      padding: 0.3em 0.5em;
        padding-right: 30px;
      background: transparent;
      width: 150px;
      box-shadow: rgba(255, 255, 255, 0.3) 0 1px 3px, inset rgba(0, 0, 0, 0.3) 0 0 2em, inset rgba(0, 0, 0, 0.3) 0 1px 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -moz-background-clip: padding-box;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      color: #666666; }
      #header_primary .breadcrumbs input:hover, #header_primary .breadcrumbs input:focus, #header_primary .breadcrumbs input:active {
        color: black;
        background: rgba(255, 245, 162, 0.6); }
      #header_primary .breadcrumbs input:focus, #header_primary .breadcrumbs input:active {
        background: #fff6a3; }
    #header_primary .breadcrumbs button {
      margin: 0;
      padding: 0;
      position: relative;
      zoom: 1;
      border: 0;
      color: white;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -moz-background-clip: padding-box;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background: #181818;
      box-shadow: inset rgba(255, 255, 255, 0.3) 0 1px 1px, inset rgba(255, 255, 255, 0.2) 0 2px 1em;
      text-shadow: rgba(255, 255, 255, 0.4) 0 1px 1px;
      position: absolute;
      top: 0.4em;
      right: 0;
      bottom: 0.4em;
      width: auto;
      font-weight: bold;
      font-size: 1.1em;
      font-line-height: 1;
      padding: 0 0.5em;
        padding-left: 0.6em;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -moz-background-clip: padding-box;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      display: none; }
      #header_primary .breadcrumbs button:hover, #header_primary .breadcrumbs button:focus {
        background: #0066ff;
        cursor: pointer; }

.content {
  padding: 60px 0;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 10px, rgba(255, 255, 255, 0.6) 1px 2px;
  position: relative; }

.view_mode {
  position: absolute;
  top: 0;
  left: 0.833%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), transparent);
  text-shadow: none;
  font-size: 10px;
  line-height: 1; }
  .view_mode:after {
    content: " ";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), transparent); }
  .view_mode:before {
    content: " ";
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), transparent); }
  .view_mode div {
    display: none;
    z-index: 5;
    position: absolute;
    left: 30px;
    top: 0em;
    background: #181818;
    white-space: nowrap;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    padding: 0 15px;
    -moz-border-radius-topright: 0.9em;
    -webkit-border-top-right-radius: 0.9em;
    border-top-right-radius: 0.9em;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-border-radius-bottomright: 0.9em;
    -webkit-border-bottom-right-radius: 0.9em;
    border-bottom-right-radius: 0.9em;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-weight: bold; }
  .view_mode a {
    color: white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #181818;
    box-shadow: inset rgba(255, 255, 255, 0.3) 0 1px 1px, inset rgba(255, 255, 255, 0.2) 0 2px 1em;
    text-shadow: rgba(255, 255, 255, 0.4) 0 1px 1px;
    display: block;
    width: 2.4em;
    height: 1.8em;
    padding: 0.4em;
    position: relative;
    background-image: -webkit-linear-gradient(white, #eeeeee);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin: 0.5em;
      margin-bottom: 0.75em;
    text-decoration: none; }
    .view_mode a:hover, .view_mode a:focus {
      background: #0066ff;
      cursor: pointer; }
    .view_mode a:hover, .view_mode a:focus {
      background: #0066ff;
      text-decoration: none; }
    .view_mode a:hover div, .view_mode a:focus div, .view_mode a:active div {
      display: block; }
  .view_mode span {
    display: block; }
    .view_mode span, .view_mode span *, .view_mode span:before, .view_mode span:after {
      border-width: 0.2em;
      border-color: rgba(0, 0, 0, 0.8);
      border-style: solid;
      border-radius: 0.2em;
      background-image: -webkit-linear-gradient(white, #cccccc); }
    .view_mode span, .view_mode span:before, .view_mode span:after {
      box-shadow: rgba(0, 0, 0, 0.3) 0 -0.1em 0.1em, rgba(255, 255, 255, 0.7) 0 0.1em 0.1em; }
  .view_mode .document span {
    position: relative;
    width: 1em;
    height: 1.3em; }
    .view_mode .document span:before, .view_mode .document span:after {
      content: " ";
      display: block; }
    .view_mode .document span:before {
      margin: 0.1em;
        margin-top: 0.2em;
      border-radius: 0;
      border-left: 0;
      border-right: 0;
      height: 0.2em;
      box-shadow: none; }
    .view_mode .document span:after {
      position: absolute;
      top: -0.1em;
      left: 1.4em;
      width: 0.4em;
      height: 0.2em; }
  .view_mode .grid span {
    position: relative;
    margin-bottom: 0.1em; }
    .view_mode .grid span:nth-child(2) {
      margin-bottom: 0; }
    .view_mode .grid span, .view_mode .grid span:after {
      width: 0.8em;
      height: 0.4em;
      border-width: 0.2em;
      border-radius: 0.2em; }
    .view_mode .grid span:after {
      content: " ";
      position: absolute;
      display: block;
      top: -0.2em;
      right: -1.4em; }
  .view_mode .slideshow span {
    position: relative;
    margin: 0 auto;
    width: 0.8em; }
    .view_mode .slideshow span, .view_mode .slideshow span:before, .view_mode .slideshow span:after {
      height: 1.2em; }
    .view_mode .slideshow span:before, .view_mode .slideshow span:after {
      display: block;
      position: absolute;
      content: " ";
      width: 0.2em;
      top: -0.1em;
      border-width: 0.1em;
      border-radius: 0; }
    .view_mode .slideshow span:before {
      left: -0.8em;
      border-left: 0; }
    .view_mode .slideshow span:after {
      right: -0.8em;
      border-right: 0; }
  .view_mode .spacetraveller span {
    position: relative;
    margin-top: 0.4em;
    height: 0.8em; }
    .view_mode .spacetraveller span:before, .view_mode .spacetraveller span:after {
      display: block;
      content: " ";
      position: absolute; }
    .view_mode .spacetraveller span:before {
      top: -0.7em;
      left: 0.6em;
      border-width: 0.1em;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      border-color: rgba(0, 0, 0, 0.4);
      width: 0.7em; }
    .view_mode .spacetraveller span:after {
      top: -0.5em;
      border-width: 0.1em;
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
      border-color: rgba(0, 0, 0, 0.6);
      width: 1.7em;
      left: 0.1em; }

.private .subhead_content {
  border: 1px solid transparent; }
  .private .subhead_content.empty, .private .subhead_content:focus {
    border-color: white;
    background: #fff6a3;
    -moz-box-shadow: #fff6a3 0 0 25px;
    -webkit-box-shadow: #fff6a3 0 0 25px;
    box-shadow: #fff6a3 0 0 25px; }
  .private .subhead_content.empty {
    -moz-opacity: 0.6;
    opacity: 0.6;
    zoom: 1; }
    .private .subhead_content.empty:focus {
      -moz-opacity: 1;
      opacity: 1;
      zoom: 1; }
  .private .subhead_content a {
    cursor: pointer; }

.text_content {
  margin-left: 8.333%;
  margin-right: 33.333%;
  padding: 0.5em;
  line-height: 1.6;
  font-size: 1.1em;
  position: relative;
  white-space: pre-wrap;
  min-height: 1em; }

.private .text_content {
  border: 1px solid transparent; }
  .private .text_content.empty, .private .text_content:focus {
    border-color: white;
    background: #fff6a3;
    -moz-box-shadow: #fff6a3 0 0 25px;
    -webkit-box-shadow: #fff6a3 0 0 25px;
    box-shadow: #fff6a3 0 0 25px; }
  .private .text_content.empty {
    -moz-opacity: 0.6;
    opacity: 0.6;
    zoom: 1; }
    .private .text_content.empty:focus {
      -moz-opacity: 1;
      opacity: 1;
      zoom: 1; }
  .private .text_content a {
    cursor: pointer; }
  .private .text_content:focus {
    padding-bottom: 3em; }
  .private .text_content.empty:before {
    content: "Write some stuff to save this page:";
    font-size: 11px;
    font-weight: bold;
    display: block;
    position: absolute;
    top: -2.3em;
    left: 0;
    height: 2em;
    line-height: 2em;
    color: #777777; }

.finish_edit {
  font-size: 11px;
  font-weight: bold;
  position: fixed;
  z-index: 20;
  top: 2.5%;
  left: 1.667%;
  width: 8.333%;
  text-align: center;
  padding: 1em;
  line-height: 1.2em;
  color: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #181818;
  box-shadow: inset rgba(255, 255, 255, 0.3) 0 1px 1px, inset rgba(255, 255, 255, 0.2) 0 2px 1em;
  text-shadow: rgba(255, 255, 255, 0.4) 0 1px 1px; }
  .finish_edit:hover, .finish_edit:focus {
    background: #0066ff;
    cursor: pointer; }

.media_content {
  float: left;
  width: 16.667%;
  float: right;
  margin-left: 8.333%;
  margin-right: 8.333%; }
  .media_content ul, .media_content li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .media_content a {
    display: inline-block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    padding: 7px;
    background: white;
    margin: 0 auto 10px; }
    .media_content a img {
      max-width: 100%; }
    .media_content a:hover, .media_content a:focus {
      box-shadow: 0 1px 6px #0066ff, 0 1px 1px rgba(0, 0, 0, 0.3); }

footer {
  clear: both;
  background: #d1c8ba;
  padding: 5px 0;
  border-top: 1px solid #a8a093; }
