@font-face {
  font-family: "AllerRegular";
  src: url("../fonts/aller/aller_rg-webfont.eot");
  src: url("../fonts/aller/aller_rg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller/aller_rg-webfont.woff") format("woff"), url("../fonts/aller/aller_rg-webfont.ttf") format("truetype"), url("../fonts/aller/aller_rg-webfont.svg#AllerRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AllerBold";
  src: url("../fonts/aller/aller_bd-webfont.eot");
  src: url("../fonts/aller/aller_bd-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller/aller_bd-webfont.woff") format("woff"), url("../fonts/aller/aller_bd-webfont.ttf") format("truetype"), url("../fonts/aller/aller_bd-webfont.svg#AllerBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AllerBoldItalic";
  src: url("../fonts/aller/aller_bdit-webfont.eot");
  src: url("../fonts/aller/aller_bdit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller/aller_bdit-webfont.woff") format("woff"), url("../fonts/aller/aller_bdit-webfont.ttf") format("truetype"), url("../fonts/aller/aller_bdit-webfont.svg#AllerBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AllerItalic";
  src: url("../fonts/aller/aller_it-webfont.eot");
  src: url("../fonts/aller/aller_it-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller/aller_it-webfont.woff") format("woff"), url("../fonts/aller/aller_it-webfont.ttf") format("truetype"), url("../fonts/aller/aller_it-webfont.svg#AllerItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-size: 75%;
  font: 13px/1.231 "Calibri", "Lucida Grande", sans-serif;
  *font-size: small;
  color: #222222; }

a {
  text-decoration: underline; }
  a:link {
    color: #0066cc; }
  a:visited {
    color: purple; }
  a:hover, a:focus {
    color: orange; }
  a:active {
    color: red; }

h1, h2, h3, h4, h5, h6, dt, legend {
  font-weight: bold;
  font-size: 1em;
  margin: 0;
  padding: 0;
  line-height: 1.25;
  color: #181818; }

h1 {
  font-size: 3em;
  font-family: "AllerBold", "Calibri", "Lucida Grande", sans-serif;
  line-height: 1; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4, legend {
  font-size: 1.2em; }

p {
  margin: 0 0 1.5em 0; }

blockquote {
  margin: 1.5em;
  font-style: italic; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

sup, sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  _vertical-align: bottom;
  position: relative; }

abbr {
  border-bottom: 1px dotted #666666; }
  abbr[title='and'] {
    border: 0;
    text-decoration: none;
    font-family: Baskerville, Palatino, Constantia, "Book Antiqua", "URW Palladio L", serif;
    font-style: italic;
    font-weight: normal; }

address {
  margin: 0 0 1.5em;
  font-style: italic; }

pre {
  margin: 1.5em 0;
  white-space: pre;
  font: 1em "andale mono", "lucida console", monospace, sans-serif;
  line-height: 1.2; }

code, kbd, samp, tt {
  font: 1em "andale mono", "lucida console", monospace, sans-serif;
  line-height: 1.2; }

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

ul, ol {
  margin: 0 1.5em 1.5em 1.5em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

nav ul, nav li {
  margin: 0;
  padding: 0;
  list-style: none; }

dl, dd {
  margin: 0 0 1.5em 0; }

table {
  margin-bottom: 1.4em;
  width: 100%; }

th {
  font-weight: bold; }

thead th {
  background: #c3d9ff; }

th, td, caption {
  padding: 4px 10px 4px 5px; }

tr.even td {
  background: #e5ecf9; }

tfoot {
  font-style: italic; }

caption {
  background: #eeeeee; }

select, input, textarea, button {
  font: 99% sans-serif; }

label {
  font-weight: bold;
  font-style: normal; }

fieldset {
  padding: 1.4em 1em;
  margin: 0 0 1.5em 0;
  border: 0; }

select, input, textarea, button {
  font-size: 99%;
  font-family: sans-serif;
  margin: 0.5em 0; }

input {
  padding: 5px; }
  input:focus {
    background-color: #fffea6; }

textarea {
  padding: 5px;
  overflow: auto; }

input[type="radio"] {
  vertical-align: text-bottom; }

.input [type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-button {
  display: none; }

::-webkit-scrollbar-track-piece {
  background: transparent;
  margin: 5px; }

::-webkit-scrollbar-thumb {
  position: relative;
  height: 0px;
  background: #3399ff;
  box-shadow: 0 0 2px 255, 255, 255, 0.5;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: #dddddd; }

body {
  background: #f2f2f2 url("../images/paper_texture.gif") 0 0 repeat;
  color: #222222;
  box-shadow: inset rgba(0, 0, 0, 0.4) 0 30px 20px; }
  body.overlay:after {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4; }

a {
  text-decoration: none; }
  a:link, a:visited {
    color: #0f6def; }
  a:hover, a:focus {
    color: #0066ff;
    text-decoration: underline; }
  a:active {
    color: #e55117; }

body > nav {
  top: 0;
  right: 0;
  left: 0;
  height: 30px;
  position: absolute;
  z-index: 5;
  font-size: 0.9em;
  line-height: 30px;
  background: #bfbfbf;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfbfbf', endColorstr='#9f9f9f');
  background: -webkit-gradient(linear, left top, left bottom, from(#bfbfbf), to(#9f9f9f));
  background: -moz-linear-gradient(top, #bfbfbf, #9f9f9f);
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #777777; }
  body > nav ol, body > nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative; }
  body > nav ol {
    zoom: 1;
    margin-left: 4px;
    width: auto;
    color: #252525; }
    body > nav ol:before, body > nav ol:after {
      content: "";
      display: block;
      overflow: hidden; }
    body > nav ol:after {
      clear: both; }
  body > nav li {
    float: left;
    font-weight: bold;
    position: relative;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    body > nav li:before {
      content: ">";
      float: left;
      padding: 0 0.5em;
      color: rgba(0, 0, 0, 0.4); }
    body > nav li:first-child:before, body > nav li:nth-child(2):before {
      display: none; }
    body > nav li.public {
      margin-left: 10px; }
  body > nav a {
    display: inline-block; }
    body > nav a, body > nav a:link, body > nav a:visited {
      color: #666666; }
    body > nav a:hover, body > nav a:focus {
      color: #0066cc;
      text-decoration: none; }
  body > nav .highlight, body > nav .highlight:link, body > nav .highlight:visited {
    background: rgba(0, 0, 0, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0.8)', endColorstr='rgba(0, 0, 0, 0.6)');
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6)));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: white;
    padding-left: 5px;
    padding-right: 5px; }
  body > nav input {
    margin: 0;
    padding: 0;
    position: relative;
    zoom: 1;
    border: 0;
    margin: 5px 0;
    height: 20px;
    line-height: 20px;
    padding: 0;
      padding-left: 0.5em;
      padding-right: 30px;
    background: rgba(200, 200, 200, 0.5);
    width: 60px;
    box-shadow: rgba(255, 255, 255, 0.3) 0 1px 3px, inset rgba(0, 0, 0, 0.3) 0 0 0.3em, inset rgba(0, 0, 0, 0.3) 0 1px 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #666666;
    -moz-opacity: 0.5;
    opacity: 0.5;
    zoom: 1; }
    body > nav input.active, body > nav input:hover, body > nav input:focus, body > nav input:active {
      -moz-opacity: 1;
      opacity: 1;
      zoom: 1;
      color: black;
      background: #fff7b3;
      outline: none; }
    body > nav input:focus, body > nav input:active {
      background: #fff7b3; }
  body > nav button {
    margin: 0;
    padding: 0;
    position: relative;
    zoom: 1;
    border: 0;
    color: white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #181818;
    box-shadow: inset rgba(255, 255, 255, 0.2) 0 1px 1px, inset rgba(255, 255, 255, 0.1) 0 2px 1em;
    text-shadow: rgba(255, 255, 255, 0.4) 0 1px 1px;
    position: absolute;
    top: 7px;
    right: 1px;
    width: 30px;
    height: 17px;
    line-height: 16px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    font-line-height: 1;
    padding: 0 0.5em;
      padding-left: 0.6em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
    body > nav button:hover, body > nav button:focus {
      background: #3399ff;
      cursor: pointer; }

.parent a {
  float: left;
  height: 24px;
  line-height: 24px;
  margin: 2px 0 0;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 0.3)', endColorstr='rgba(255, 255, 255, 0.1)');
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.1)));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 1px, inset rgba(255, 255, 255, 0.1) 0 1px 1px; }
  .parent a:hover, .parent a:focus {
    background: #3399ff;
    color: white;
    border-color: rgba(0, 0, 0, 0.1);
    border-top-color: rgba(0, 0, 0, 0.2); }

.create_page {
  overflow: visible;
  max-width: none; }
  .create_page button {
    display: none; }

.password {
  float: right;
  position: relative;
  z-index: 5;
  width: 30px;
  height: 30px;
  border-left: 1px solid rgba(0, 0, 0, 0.1); }
  .password span {
    overflow: hidden;
    text-indent: -9999px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../images/lock.png") center center no-repeat; }
    .password span:hover, .password span:focus {
      background-image: url("../images/lock_hover.png");
      cursor: pointer; }
  .password form {
    display: none;
    position: absolute;
    z-index: 2;
    margin: 0;
    background: #fff6a3;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    padding: 10px;
    right: 5px;
    top: 33px;
    white-space: nowrap;
    width: auto; }
    .password form:before {
      content: "";
      position: absolute;
      right: 0;
      top: -8px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid white; }
    .password form label {
      padding-right: 0.5em; }
    .password form input {
      right: 0;
      width: 140px; }
      .password form input, .password form input:hover, .password form input:active, .password form input:focus {
        background: white; }
    .password form button {
      top: 16px;
      right: 10px; }
  .password.active span {
    background-image: url("../images/lock_active.png"); }
  .password.active form {
    display: block; }

article {
  position: absolute;
  top: 32px;
  right: 3px;
  bottom: 0;
  left: 240px;
  overflow: auto;
  padding: 30px;
  z-index: 2; }

.finish_editing {
  color: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #181818;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0 1px 1px, inset rgba(255, 255, 255, 0.1) 0 2px 1em;
  text-shadow: rgba(255, 255, 255, 0.4) 0 1px 1px;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0.5em 1em; }
  .finish_editing:hover, .finish_editing:focus {
    background: #3399ff;
    cursor: pointer; }

.reading_time {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  padding-left: 20px;
  height: 16px;
  line-height: 16px;
  font-size: 10px;
  font-style: italic;
  -moz-opacity: 0.4;
  opacity: 0.4;
  zoom: 1;
  color: #444444; }
  .reading_time strong {
    color: black;
    font-style: normal; }

.article_header {
  padding: 20px 0 1em;
  margin-bottom: 1em;
  position: relative; }
  .article_header:after, .article_header:before {
    position: absolute;
    left: 20px;
    right: 20px;
    content: "";
    height: 1px;
    -moz-opacity: 0.5;
    opacity: 0.5;
    zoom: 1; }
  .article_header:before {
    bottom: 0;
    background-image: -webkit-linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.1), transparent); }
  .article_header:after {
    bottom: -1px;
    background-image: -webkit-linear-gradient(0deg, transparent, rgba(255, 255, 255, 0.2), transparent); }
  .article_header h1, .article_header h2 {
    clear: both;
    padding: 10px 20px; }
  .article_header h1 {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1;
    position: relative;
    font-size: 3em;
    font-weight: normal;
    color: #181818;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  .article_header h2 {
    line-height: 1.4;
    font-size: 1.45em;
    white-space: pre-wrap;
    color: #2c2c2c; }
    .article_header h2.empty {
      padding: 0;
      height: 0;
      overflow: hidden; }
      .article_header h2.empty:focus {
        padding: 10px 20px;
        height: auto;
        overflow: auto; }

.text_content {
  padding: 10px 20px;
  line-height: 1.6;
  font-size: 1.1em;
  margin-bottom: 3em;
  position: relative;
  white-space: pre-wrap;
  min-height: 6em; }
  .text_content.empty {
    min-height: 1em; }

.private .article_header h2, .private .text_content {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px dashed transparent; }
  .private .article_header h2.empty, .private .article_header h2:focus, .private .text_content.empty, .private .text_content:focus {
    background: rgba(255, 255, 200, 0.3);
    -moz-box-shadow: #fff6a3 0 0 15px;
    -webkit-box-shadow: #fff6a3 0 0 15px;
    box-shadow: #fff6a3 0 0 15px;
    outline: none; }
  .private .article_header h2.empty, .private .text_content.empty {
    -moz-opacity: 0.5;
    opacity: 0.5;
    zoom: 1; }
    .private .article_header h2.empty:focus, .private .text_content.empty:focus {
      -moz-opacity: 1;
      opacity: 1;
      zoom: 1; }
  .private .article_header h2:focus, .private .text_content:focus {
    border-color: rgba(0, 102, 255, 0.3); }
  .private .article_header h2 a, .private .text_content a {
    cursor: pointer; }
.private .text_content:focus {
  padding-bottom: 3em; }
.private .text_content.empty:before {
  content: "Write some stuff to save this page:";
  font-size: 11px;
  font-weight: bold;
  display: block;
  position: absolute;
  top: -1.7em;
  left: 20px;
  height: 2em;
  line-height: 2em;
  color: #777777; }

article > aside {
  position: fixed;
  left: 0;
  top: 30px;
  font-size: 10px;
  bottom: 0;
  overflow: auto;
  width: 240px;
  background: #181818 url("../images/carbon_fiber_texture.gif") 0 0 repeat;
  box-shadow: inset rgba(0, 0, 0, 0.7) -1px 3px 5px, rgba(0, 0, 0, 0.5) 0 0 20px; }
  article > aside ol, article > aside ul, article > aside li {
    list-style: none;
    margin: 0;
    padding: 0; }
  article > aside section {
    padding: 20px;
    position: relative; }
    article > aside section:before, article > aside section:after {
      position: absolute;
      left: 20px;
      right: 20px;
      content: "";
      height: 1px;
      -moz-opacity: 0.3;
      opacity: 0.3;
      zoom: 1; }
    article > aside section:before {
      bottom: 0;
      background-image: -webkit-linear-gradient(0deg, transparent, black, transparent); }
    article > aside section:after {
      bottom: -1px;
      background-image: -webkit-linear-gradient(0deg, transparent, rgba(255, 255, 255, 0.1), transparent); }
  article > aside h1 {
    padding: 0;
      padding-bottom: 1em;
    font-size: 0.8em;
    font-family: "Calibri", "Lucida Grande", sans-serif;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.8) 0 -1px 1px; }
  article > aside a, article > aside a:link, article > aside a:visited {
    color: #3399ff; }

.folders a, .files a {
  display: block;
  padding: 4px 0;
    padding-left: 26px;
  margin-bottom: 3px;
  position: relative;
  min-height: 18px;
  line-height: 18px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
  border: 1px solid transparent;
  text-overflow: ellipsis; }
  .folders a:hover, .folders a:focus, .files a:hover, .files a:focus {
    background: rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0.3)', endColorstr='rgba(0, 0, 0, 0.5)');
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.5)));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    border-color: #3399ff;
    text-decoration: none; }
  .folders a:before, .files a:before {
    position: absolute;
    left: 5px;
    top: 5px;
    content: "";
    height: 16px;
    width: 16px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%; }

.folders a:before {
  background-image: url("../images/folder.png"); }

.files .info {
  position: absolute;
  right: 20px;
  top: 15px; }
  .files .info p {
    display: none;
    position: absolute;
    z-index: 2;
    margin: 0;
    background: #fff6a3;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    padding: 10px; }
    .files .info p:before {
      content: "";
      position: absolute;
      right: 0;
      top: -8px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid white; }
  .files .info span {
    display: block;
    width: 18px;
    height: 18px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-indent: -9999px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: url("../images/info.png") -1px 0 no-repeat;
    -moz-opacity: 0.7;
    opacity: 0.7;
    zoom: 1; }
    .files .info span:hover, .files .info span:focus {
      -moz-opacity: 1;
      opacity: 1;
      zoom: 1;
      background-color: rgba(0, 0, 0, 0.5);
      background-image: url("../images/info_hover.png");
      border-color: #3399ff; }
  .files .info.active span {
    -moz-opacity: 1;
    opacity: 1;
    zoom: 1;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../images/info_active.png");
    border-color: #fff6a3; }
  .files .info.active p {
    color: #353535;
    display: block;
    top: 24px;
    left: auto;
    right: -7px;
    width: 190px; }
    .files .info.active p:before {
      left: auto;
      right: 8px; }
.files a:before {
  background-image: url("../images/file.png"); }

.images ul, .images li {
  margin: 0;
  padding: 0; }
.images ul {
  zoom: 1; }
  .images ul:before, .images ul:after {
    content: "";
    display: block;
    overflow: hidden; }
  .images ul:after {
    clear: both; }
.images .controls {
  display: none;
  margin: -20px;
    margin-top: -18px;
    margin-bottom: 20px;
  background: #bfbfbf;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfbfbf', endColorstr='#9f9f9f');
  background: -webkit-gradient(linear, left top, left bottom, from(#bfbfbf), to(#9f9f9f));
  background: -moz-linear-gradient(top, #bfbfbf, #9f9f9f);
  border-bottom: 1px solid #777777; }
  .images .controls li {
    float: left;
    width: 26%;
    height: 30px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1); }
  .images .controls button {
    margin: 0;
    padding: 0;
    position: relative;
    zoom: 1;
    border: 0;
    border: 0;
    background: none;
    font-weight: bold;
    width: 100%;
    text-shadow: rgba(255, 255, 255, 0.3) 0 1px 1px;
    height: 100%;
    cursor: pointer; }
  .images .controls li:not(.disabled) button:hover, .images .controls li:not(.disabled) button:focus {
    background: #3399ff;
    color: white; }
  .images .controls li:not(.disabled) button:active, .images .controls li:not(.disabled) button.highlight {
    background: rgba(0, 0, 0, 0.2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0.2)', endColorstr='rgba(0, 0, 0, 0.1)');
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.1)));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
    color: black; }
  .images .controls .previous {
    border-left: 1px solid rgba(0, 0, 0, 0.1); }
  .images .controls .next {
    border: 0; }
  .images .controls .close {
    width: 21%;
    border-color: transparent; }
    .images .controls .close button {
      background: #666666;
      color: #bfbfbf;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      border-radius: 12px;
      -moz-background-clip: padding-box;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      box-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px, inset rgba(0, 0, 0, 0.3) 0 1px 1px;
      height: 16px;
      width: 16px;
      margin: 7px auto;
      font-size: 9px;
      text-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px; }
      .images .controls .close button:hover, .images .controls .close button:focus {
        box-shadow: rgba(255, 255, 255, 0.5) 0 0 2px;
        background: #3399ff;
        color: white; }
  .images .controls .disabled button {
    color: #999999;
    cursor: default; }
.images .image_list li {
  float: left;
  width: 29%;
  margin: 5px 2%;
    margin-right: 2px;
  height: 40px; }
  .images .image_list li a.image_link {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3); }
    .images .image_list li a.image_link:hover, .images .image_list li a.image_link:focus {
      box-shadow: #3399ff 0 0 2px 1px; }
  .images .image_list li img {
    display: block;
    width: 100%;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast; }
  .images .image_list li.active {
    position: relative;
    width: 100%;
    margin: 20px 0;
    padding: 0;
    height: auto;
    overflow: hidden;
    background: rgba(242, 242, 242, 0);
    box-shadow: #3399ff 0 0 2px 1px, rgba(0, 0, 0, 0.5) 0 0 5px 1px; }
    .images .image_list li.active a.image_link {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1;
      background: none;
      cursor: default; }
    .images .image_list li.active img {
      margin-top: -15%; }
.images .image_list .details {
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 1px;
  border-top: 1px solid white;
  border-bottom: 1px solid #777777;
  position: relative;
  z-index: 2;
  padding: 1em 10px;
  margin-top: 30px;
  background: #f5f5f5;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#dadada');
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#dadada));
  background: -moz-linear-gradient(top, #f5f5f5, #dadada); }
  .images .image_list .details > * {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; }
  .images .image_list .details h2 {
    position: relative;
    padding: 0;
      padding-bottom: 0.675em;
    margin: 0;
      margin-bottom: 0.675em;
    font-size: 1.2em;
    font-weight: bold; }
    .images .image_list .details h2:before, .images .image_list .details h2:after {
      position: absolute;
      left: 0;
      right: 0;
      content: "";
      height: 1px;
      -moz-opacity: 0.1;
      opacity: 0.1;
      zoom: 1; }
    .images .image_list .details h2:before {
      bottom: 0;
      background-image: -webkit-linear-gradient(0deg, transparent, black, transparent); }
    .images .image_list .details h2:after {
      bottom: -1px;
      background-image: -webkit-linear-gradient(0deg, transparent, rgba(255, 255, 255, 0.1), transparent); }
  .images .image_list .details .size_option {
    zoom: 1;
    padding-bottom: 0.75em;
    margin-bottom: 0.75em;
    position: relative; }
    .images .image_list .details .size_option:before, .images .image_list .details .size_option:after {
      content: "";
      display: block;
      overflow: hidden; }
    .images .image_list .details .size_option:after {
      clear: both; }
    .images .image_list .details .size_option:before, .images .image_list .details .size_option:after {
      position: absolute;
      left: 0;
      right: 0;
      content: "";
      height: 1px;
      -moz-opacity: 0.1;
      opacity: 0.1;
      zoom: 1; }
    .images .image_list .details .size_option:before {
      bottom: 0;
      background-image: -webkit-linear-gradient(0deg, transparent, black, transparent); }
    .images .image_list .details .size_option:after {
      bottom: -1px;
      background-image: -webkit-linear-gradient(0deg, transparent, rgba(255, 255, 255, 0.1), transparent); }
  .images .image_list .details label {
    display: inline-block; }
  .images .image_list .details label, .images .image_list .details a, .images .image_list .details button {
    height: 2em;
    line-height: 2em;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 1em;
    font-weight: normal; }
  .images .image_list .details a, .images .image_list .details button {
    clear: both;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
    text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
      border-bottom-color: rgba(0, 0, 0, 0.4);
    background: white;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#f0f0f0');
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f0f0f0));
    background: -moz-linear-gradient(top, white, #f0f0f0);
    box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 1px, inset rgba(255, 255, 255, 0.1) 0 1px 1px;
    color: #353535; }
    .images .image_list .details a:hover, .images .image_list .details a:focus, .images .image_list .details button:hover, .images .image_list .details button:focus {
      background: #3399ff;
      color: white;
      border-color: rgba(0, 0, 0, 0.1);
      border-top-color: rgba(0, 0, 0, 0.2); }
  .images .image_list .details #size_button {
    float: right;
    width: 50px;
    border-right: 15px solid #353535;
    border-left: 1px solid rgba(0, 0, 0, 0.2); }
    .images .image_list .details #size_button, .images .image_list .details #size_button:hover, .images .image_list .details #size_button:focus {
      background: white;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#f0f0f0');
      background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f0f0f0));
      background: -moz-linear-gradient(top, white, #f0f0f0);
      color: #353535;
      border-bottom-color: rgba(0, 0, 0, 0.4); }
    .images .image_list .details #size_button.fit_size, .images .image_list .details #size_button.fit_size:hover, .images .image_list .details #size_button.fit_size:focus {
      background: #3399ff;
      color: white;
      border-left: 15px solid #353535;
      border-right: 1px solid rgba(0, 0, 0, 0.2); }

.image_viewer {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  padding: 30px;
    padding-top: 60px;
  text-align: center;
  overflow: auto; }
  .image_viewer ul, .image_viewer li {
    margin: 0;
    padding: 0; }
  .image_viewer ul {
    position: fixed;
    left: 250px;
    top: 40px; }
  .image_viewer li {
    display: inline-block;
    margin: 0;
      margin-right: 14px;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    background: black;
    color: white;
    border: 2px solid white;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0 10px;
    text-decoration: none;
    cursor: pointer;
    -moz-opacity: 0.3;
    opacity: 0.3;
    zoom: 1; }
    .image_viewer li:hover, .image_viewer li:focus {
      border-color: #3399ff;
      color: #3399ff;
      -moz-opacity: 1;
      opacity: 1;
      zoom: 1; }
  .image_viewer img {
    padding: 3px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-width: none;
    margin: 0 auto;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality; }
    .image_viewer img.fit_size {
      max-width: 95%; }

.public_page article {
  left: 0; }
  .public_page article > aside {
    display: none; }
  .public_page article .content_editable {
    white-space: normal;
    outline: none; }
