// BASELINE TEMPLATE
@import core/_reset
@import core/_css
@import core/_typography
@import core/_grid

@mixin mini_button
  color: #fff
  @include border_radius(3px)
  background: #181818
  box-shadow: inset rgba(255,255,255,0.3) 0 1px 1px, inset rgba(255,255,255,0.2) 0 2px 1em
  text-shadow: rgba(255,255,255,0.4) 0 1px 1px
  &:hover, &:focus
    background: #0066ff
    cursor: pointer

html, body
  margin: 0
  padding: 0
  height: 100%
  width: 100%
  overflow: auto

::-webkit-scrollbar
  width: 8px
  height: 8px
::-webkit-scrollbar-button
  display: none
::-webkit-scrollbar-track-piece
  background: #555
  -webkit-box-shadow: inset 0 1px 5px #000, inset 0 0 2px rgba(0,0,0,0.5)
::-webkit-scrollbar-thumb
  position: relative
  height: 0px
  background: #0088dd
  box-shadow: inset 0 0 1px rgba(255,255,255,0.3), 0 0 3px #000
  @include border_radius(5px)
  &:window-inactive
    background: #ddd

body
  background: #fff
  color: #222
  box-shadow: inset rgba(0,0,0,0.4) 0 0 20px

a
  text-decoration: none
  font-weight: bold
  &:link, &:visited
    color: #0f6def
  &:hover, &:focus
    color: #0066ff
    text:
      decoration: underline
      shadow: rgba(255,255,255,0.5) 0 0 5px
  &:active
    color: #e55117

h1, h2, h3, h4, h5, h6, dt, legend
  color: #181818

article
  @include clearfix

#header_primary
  position: relative
  padding: 4em 0 2.5em
  text-shadow: rgba(255,255,255,0.3) 0 1px 10px, rgba(255,255,255,0.3) 1px 2px
  background: -webkit-radial-gradient(22% 70%, rgba(255,255,255,.8), rgba(0,0,0,.2))
  @include box_shadow(rgba(0,0,0,.4), 0, 0, 25px)
  border-bottom: 1px solid rgba(255,255,255,.2)
  hgroup
    @include clearfix
    @include prepend(1)
    @include append(1)
  h1, h2
    clear: both
    padding-bottom: .2em
  h1
    line-height: 1
    position: relative
    font:
      size: 3em
      weight: normal
      color: #181818
  h2
    line-height: 1.3
    font-size: 1.45em
    white-space: pre-wrap
    color: #2c2c2c

  .breadcrumbs
    @include prepend(1)
    @include append(1)
    text-shadow: none
    right: 0
    top: 5px
    position: absolute
    z-index: 5
    font-size: .9em
    padding: 0 .7em
    @include opacity(.6)
    ol, ul, li
      margin: 0
      padding: 0
      list-style: none
      position: relative
    li
      display: inline-block
      font-weight: bold
      position: relative
      padding: .4em 0
      a
        display: inline-block
      &:after
        content: '>'
        display: inline-block
        padding: 0 .3em
        color: rgba(0,0,0,0.4)
      &:last-child:after
        display: none
    input
      @include reset_box
      padding: .3em .5em
        right: 30px
      background: transparent
      width: 150px
      box-shadow: rgba(255,255,255,.3) 0 1px 3px, inset rgba(0,0,0,0.3) 0 0 2em, inset rgba(0,0,0,0.3) 0 1px 2px
      @include border_radius(2px)
      color: #666
      &:hover, &:focus, &:active
        color: #000
        background: rgba(255,245,162,0.6)
      &:focus, &:active
        background: hsl(54deg, 100%, 82%)
    button
      @include reset_box
      @include mini_button
      position: absolute
      top: .4em
      right: 0
      bottom: .4em
      width: auto
      font:
        weight: bold
        size: 1.1em
        line-height: 1
      padding: 0 .5em
        left: .6em
      @include border_radius(2px)
      display: none

.content
  padding: 60px 0
  text-shadow: rgba(255,255,255,0.5) 0 1px 10px, rgba(255,255,255,0.6) 1px 2px
  position: relative

.view_mode
  display: none
  position: absolute
  top: 0
  left: 0
  border-top: 1px solid rgba(0,0,0,0.1)
  background-image: -webkit-linear-gradient(rgba(50,50,50,0.1), transparent)
  text-shadow: none
  font-size: 10px
  line-height: 1
  &:before
    content: ' '
    position: absolute
    display: block
    right: 0
    top: 0
    bottom: 0
    width: 1px
    background-image: -webkit-linear-gradient(rgba(20,20,20,0.1), transparent)
  a
    @include mini_button
    display: block
    width: 2.4em
    height: 1.7em
    padding: .4em
    position: relative
    background-image: -webkit-linear-gradient(#fff, #eee)
    @include border_radius(2px)
    margin: .5em
      bottom: .75em
    text-decoration: none
    div
      display: none
      z-index: 5
      position: absolute
      left: 30px
      top: 0em
      background: #181818
      white-space: nowrap
      height: 25px
      line-height: 26px
      font-size: 12px
      padding: 0 15px
      @include border_radius_top_right(.9em)
      @include border_radius_bottom_right(.9em)
      font:
        weight: bold
    &:hover, &:focus
      background: #0066ff
      text-decoration: none
    &:hover, &:focus, &:active
      div
        display: block

  $icon_color: rgba(0,0,0,.7)
  span
    display: block
    &, *, &:before, &:after
      border:
        width: .2em
        color: $icon_color
        style: solid
        radius: .2em
      background-image: -webkit-linear-gradient(#fff, #ccc)
    &, &:before, &:after
      box-shadow: rgba(0,0,0,0.3) 0 -.1em .1em, rgba(255,255,255,.5) 0 .1em .1em
  .document
    span
      position: relative
      width: 1em
      height: 1.3em
      span
        margin: .1em
          top: .2em
        border-radius: 0
        border:
          left: 0
          right: 0
        height: .2em
        width: .8em
        box-shadow: none
        &:before, &:after
          display: none
      &:before, &:after
        content: ' '
        display: block
        left: 1.4em
        width: .4em
        height: .2em
        position: absolute
      &:before
        top: -.1em
      &:after
        top: .6em
  .grid
    span
      position: relative
      margin-bottom: .1em
      &:nth-child(2)
        margin-bottom: 0
      &, &:after
        width: .8em
        height: .4em
        border:
          width: .2em
          radius: .2em
      &:after
        content: ' '
        position: absolute
        display: block
        top: -.2em
        right: -1.4em
  .slideshow
    span
      position: relative
      margin: 0 auto
      width: .8em
      &, &:before, &:after
        height: 1.2em
      &:before, &:after
        display: block
        position: absolute
        content: ' '
        width: .2em
        top: -.1em
        border:
          width: .1em
          radius: 0
      &:before
        left: -.8em
        border:
          left: 0
      &:after
        right: -.8em
        border:
          right: 0

  .spacetraveller
    span
      position: relative
      margin-top: .4em
      height: .8em
      &:before, &:after
        display: block
        content: ' '
        position: absolute
      &:before
        top: -.7em
        left: .7em
        border:
          width: .1em
          left: 0
          right: 0
          bottom: 0
          color: rgba(0,0,0,0.4)
        width: .6em
      &:after
        top: -.5em
        border:
          width: .1em
          bottom: 0
          left: 0
          right: 0
          color: rgba(0,0,0,0.6)
        width: 1.6em
        left: .2em

@mixin content_editable
  border: 1px solid transparent
  &.empty, &:focus
    border-color: #fff
    background: hsl(54deg, 100%, 82%)
    @include box_shadow(hsl(54deg, 100%, 82%), 0, 0, 25px)
  &.empty
    @include opacity(0.6)
    &:focus
      @include opacity(1)
  a
    cursor: pointer

.private .subhead_content
  @include content_editable

.text_content
  @include prepend(1)
  @include append(4)
  padding: .5em
  line-height: 1.6
  font-size: 1.1em
  position: relative
  white-space: pre-wrap
  min-height: 1em
.private .text_content
  @include content_editable
  &:focus
    padding-bottom: 3em
  &.empty:before
    content: 'Write some stuff to save this page:'
    font:
      size: 11px
      weight: bold
    display: block
    position: absolute
    top: -2.3em
    left: 0
    height: 2em
    line-height: 2em
    color: #777

.finish_edit
  font:
    size: 11px
    weight: bold
  position: fixed
  z-index: 20
  top: $grid_col_width * .3
  left: $grid_col_width * .2
  width: $grid_col_width
  text-align: center
  padding: 1em
  line-height: 1.2em
  @include mini_button

.additional_content
  @include col(2)
  float: right
  @include prepend(1)
  @include append(1)
  ul, li
    list-style: none
    margin: 0
    padding: 0
    position: relative
  ul
    margin-bottom: 1em
    padding-bottom: 1em
    &:before
      display: block
      color: rgba(0,0,0,0.6)
      margin:
        left: -26px
        bottom: .5em
      font:
        weight: bold
        size: .75em
    &:after
      content: ' '
      display: block
      position: absolute
      bottom: 0
      left: -26px
      right: 0
      height: 1px
      background-image: -webkit-linear-gradient(0deg,#fff,#ccc, #fff)
  li
    position: relative
    margin: .25em 0
    &:before
      display: block
      position: absolute
      left: -26px
      top: -1px
      width: 18px
      height: 18px
      content: ' '
      @include opacity(0.7)
      background:
        position: 0 0
        repeat: no-repeat
        size: 100% 100%
  .folders
    &:before
      content: 'Folders:'
    li:before
      background:
        image: url("../images/folder.png")
  .files
    &:before
      content: 'Files:'
    li:before
      background:
        image: url("../images/file.png")
  .images li
    padding: 0
      bottom: 10px
    a
      display: inline-block
      @include border_radius(3px)
      box-shadow: 0 1px 3px rgba(0,0,0,0.3)
      padding: 7px
      background: #fff
      margin: 0 auto
      img
        max-width: 100%
      &:hover, &:focus
        box-shadow: 0 1px 6px #0066ff, 0 1px 1px rgba(0,0,0,0.3)

footer
  clear: both
  background: #d1c8ba
  padding: 5px 0
  border-top: 1px solid #a8a093

//@media screen and (min-width:480px)
//
//@media screen and (max-width:768px)
//
//@media screen and (min-width: 992px)
//
//@media screen and (min-width:1382px)