@import url('core/typography.css');
.clearfix {
  zoom: 1; }
  .clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    line-height: 0;
    height: 0;
    visibility: hidden;
    position: relative; }

html, body {
  margin: 0;
  padding: 0; }

body {
  background: white;
  color: #222222;
  font: 13px/1.231 "Calibri", "Lucida Grande", sans-serif;
  *font-size: small; }

a {
  text-decoration: none;
  font-weight: bold; }
  a:link {
    color: #0f6def; }
  a:visited {
    color: #0077cc; }
  a:hover, a:focus {
    color: #0099ff;
    text-decoration: underline; }
  a:active {
    color: #e55117; }

h1, h2, h3, h4, h5, h6, dt, legend {
  font-family: "Aller", "Calibri", sans-serif;
  color: #181818; }

article {
  zoom: 1;
  padding-bottom: 40px; }
  article:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    line-height: 0;
    height: 0;
    visibility: hidden;
    position: relative; }

#header_primary {
  position: relative;
  padding: 120px 0 40px;
  margin-bottom: 40px; }
  #header_primary:before {
    display: block;
    content: ".";
    text-indent: -9999em;
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-radial-gradient(center 150%, white, rgba(0, 0, 0, 0.5));
    -moz-opacity: 0.9;
    opacity: 0.9;
    zoom: 1;
    border-bottom: 1px solid #f5f5f5; }
  #header_primary > * {
    position: relative;
    z-index: 5; }
  #header_primary .background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: block;
    content: ".";
    text-indent: -9999em; }
  #header_primary hgroup {
    margin-left: 8.333%; }
  #header_primary .breadcrumbs, #header_primary .pubdate {
    position: absolute;
    top: 5px;
    padding: 5px;
    -moz-opacity: 0.5;
    opacity: 0.5;
    zoom: 1;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
    #header_primary .breadcrumbs:hover, #header_primary .pubdate:hover {
      background: white;
      -moz-opacity: 1;
      opacity: 1;
      zoom: 1; }
  #header_primary .breadcrumbs {
    left: 8.333%; }
    #header_primary .breadcrumbs ol, #header_primary .breadcrumbs li {
      margin: 0;
      padding: 0;
      list-style: none; }
    #header_primary .breadcrumbs li {
      display: inline-block;
      font-weight: bold; }
      #header_primary .breadcrumbs li:after {
        content: ">";
        display: inline-block;
        padding: 0 0.3em;
        color: rgba(0, 0, 0, 0.4); }
      #header_primary .breadcrumbs li:last-child:after {
        content: ""; }
  #header_primary .pubdate {
    right: 8.333%;
    text-align: right; }

.header_content {
  white-space: pre-wrap; }

.text_content {
  float: left;
  width: 58.333%;
  margin-left: 8.333%; 
  white-space: pre-wrap; }

.media_content {
  float: left;
  width: 16.667%;
  margin-left: 8.333%; }
  .media_content ul, .media_content li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .media_content img {
    width: 100%; }

footer {
  clear: both;
  background: #d1c8ba;
  padding: 5px 0;
  border-top: 1px solid #a8a093; }
